                 /* ###### CartPage/Sections DIRECTORY STYLE SHEET ####### */

  /* 1. ###### UserCardBlock.js style ####### */

  .productImg {
    width: 70px;
  }
  

  /* 2. ###### CartPage.js style ####### */

  .myCart {
    width: 85%;
    margin: 3rem auto;
    
  }

  .total {
    margin-top: 3rem;
  }

  .emptyCartDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .description {
    color: red;
  }

