/*  ###### LoginPage.js style ####### */

.logIcons {
    color: rgba(0,0,0,.25);

}

.errorText {
    color: #ff0000bf;
    font-size: 0.7rem;
    border: 1px solid;
    padding: 1rem;
    border-radius: 10px;
}


.login-form-forgot {
    float: right;
}

.login-form-button {
    min-width: 100%; 
}

.onSub {
    width: 350px;
}